[Unit]
Description=COSMIC Ext Storage Management Service Socket
Documentation=https://github.com/cosmic-utils/cosmic-ext-storage
PartOf=cosmic-ext-storage-service.service

[Socket]
ListenStream=/run/cosmic-ext-storage-service/socket
SocketMode=0660
SocketUser=root
SocketGroup=root

[Install]
WantedBy=sockets.target
