<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>System76</vendor>
  <vendor_url>https://github.com/cosmic-utils/cosmic-ext-disks</vendor_url>

  <!-- Disk Discovery and Read Operations -->
  <action id="org.cosmic.ext.storage-service.disk-read">
    <description>Read disk information</description>
    <message>Authentication is required to read disk information</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>  <!-- No auth for read operations -->
    </defaults>
  </action>

  <!-- SMART Operations -->
  <action id="org.cosmic.ext.storage-service.smart-read">
    <description>Read SMART disk health status</description>
    <message>Authentication is required to read SMART disk health information</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>  <!-- No auth for read operations -->
    </defaults>
  </action>

  <action id="org.cosmic.ext.storage-service.smart-test">
    <description>Run SMART self-tests</description>
    <message>Authentication is required to run SMART self-tests</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>  <!-- Auth once, remember for session -->
    </defaults>
  </action>

  <!-- BTRFS Read Operations -->
  <action id="org.cosmic.ext.storage-service.btrfs-read">
    <description>Read BTRFS filesystem information</description>
    <message>Authentication is required to read BTRFS filesystem information</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>  <!-- No auth for read operations -->
    </defaults>
  </action>

  <!-- BTRFS Modify Operations -->
  <action id="org.cosmic.ext.storage-service.btrfs-modify">
    <description>Modify BTRFS filesystems</description>
    <message>Authentication is required to modify BTRFS filesystems</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>  <!-- Auth once, remember for session -->
    </defaults>
  </action>

  <!-- Partition Read Operations -->
  <action id="org.cosmic.ext.storage-service.partition-read">
    <description>Read partition information</description>
    <message>Authentication is required to read partition information</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <!-- Partition Modify Operations -->
  <action id="org.cosmic.ext.storage-service.partition-modify">
    <description>Modify disk partitions</description>
    <message>Authentication is required to modify disk partitions</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <!-- LVM Operations -->
  <action id="org.cosmic.ext.storage-service.lvm-modify">
    <description>Modify LVM volumes</description>
    <message>Authentication is required to modify LVM volumes</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <!-- LVM Operations -->
  <action id="org.cosmic.ext.storage-service.lvm-read">
    <description>Read LVM information</description>
    <message>Authentication is required to read LVM information</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="org.cosmic.ext.storage-service.lvm-modify">
    <description>Modify LVM volumes</description>
    <message>Authentication is required to modify LVM volumes</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <!-- LUKS Encryption Operations -->
  <action id="org.cosmic.ext.storage-service.luks-read">
    <description>Read LUKS encryption information</description>
    <message>Authentication is required to read LUKS encryption information</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="org.cosmic.ext.storage-service.luks-unlock">
    <description>Unlock LUKS encrypted devices</description>
    <message>Authentication is required to unlock encrypted devices</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="org.cosmic.ext.storage-service.luks-lock">
    <description>Lock LUKS encrypted devices</description>
    <message>Authentication is required to lock encrypted devices</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="org.cosmic.ext.storage-service.luks-modify">
    <description>Modify LUKS encryption keys</description>
    <message>Authentication is required to modify encryption keys</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.cosmic.ext.storage-service.luks-format">
    <description>Create LUKS encrypted containers</description>
    <message>Authentication is required to create encrypted containers</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <!-- Filesystem Read Operations -->
  <action id="org.cosmic.ext.storage-service.filesystem-read">
    <description>Read filesystem information</description>
    <message>Authentication is required to read filesystem information</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <!-- Filesystem Mount/Unmount -->
  <action id="org.cosmic.ext.storage-service.filesystem-mount">
    <description>Mount and unmount filesystems</description>
    <message>Authentication is required to mount or unmount filesystems</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <!-- Filesystem Modify Operations -->
  <action id="org.cosmic.ext.storage-service.filesystem-modify">
    <description>Modify filesystem properties</description>
    <message>Authentication is required to modify filesystem properties</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <!-- Filesystem Format Operation -->
  <action id="org.cosmic.ext.storage-service.filesystem-format">
    <description>Format storage devices</description>
    <message>Authentication is required to format storage devices</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>  <!-- Always prompt -->
    </defaults>
  </action>

  <!-- Kill Blocking Processes -->
  <action id="org.cosmic.ext.storage-service.filesystem-kill-processes">
    <description>Kill processes blocking filesystem operations</description>
    <message>Authentication is required to kill processes</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <!-- Dangerous Operations (Always require auth) -->
  <action id="org.cosmic.ext.storage-service.format">
    <description>Format storage devices</description>
    <message>Authentication is required to format storage devices</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>  <!-- Always prompt for format -->
    </defaults>
  </action>
</policyconfig>
